body {
  background: #fff; }

.buffer {
  width: 20em;
  height: 40em;
  position: absolute;
  left: -webkit-calc(50% - 10em);
  left: calc(50% - 10em);
  top: -webkit-calc(50% - 20em);
  top: calc(50% - 20em); }
  .buffer span {
    display: block;
    position: absolute;
    background: black;
    width: 20em;
    height: 20em; }
